<!--Application edit form-->

{% extends 'base.html' %}

{% block contents %}

<div class="container">
    <h1 class="text-center" style="color:maroon">University of the Philippines Online College Application Form</h1>
    <br>
    <div class="card">
        <div class="card-body">
            <form action="{{ url_for('update', email=account.email) }}" method="post" class="row g-3">
                <h2 class="card-title">Personal Details</h2>

                <div class="col-md-6">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" name="firstname" id="firstname" value="{{ account.firstname }}" required>
                </div>
                <div class="col-md-6">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="lastname" id="lastname" value="{{ account.lastname }}" required>
                </div>

                <div class="col-md-3">
                    <label for="sex" class="form-label">Sex assigned at birth</label>
                    <select id="sex" name="sex" class="form-select"  required>
                        <option selected></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="col-md-3">
                <label for="marital" class="form-label">Marital Status</label>
                <select id="marital" name="marital" class="form-select" required>
                    <option selected></option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Widowed">Widowed</option>
                    <option value="Separated">Separated</option>
                </select>
              </div>

                <div class="col-md-2">
                    <label for="birthdate" class="form-label">Date of Birth</label>
                    <input id="birthdate" name="birthdate" type="text" class="form-control" value="{{ account.birthdate }}">
                </div>
                <div class="col-md-4">
                    <label for="birthplace" class="form-label">Place of Birth</label>
                    <input id="birthplace" name="birthplace" type="text" class="form-control" value="{{ account.birthplace }}" required>
                </div>

                <div class="col-md-3">
                    <label for="citizen" class="form-label">Country of Citizenship</label>
                    <input id="citizen" name="citizen" type="text" class="form-control" value="{{ account.citizenship }}" required>
                </div>

                <div class="col-md-3">
                    <label for="religion" class="form-label">Religion</label>
                    <input id="religion" name="religion" type="text" class="form-control" value="{{ account.religion }}" required>
                </div>

                <div class="col-md-3">
                    <label for="landlinephone" class="form-label">Landline Number</label>
                    <input id="landlinephone" name="landlinephone" type="number" class="form-control" value="{{ account.landline }}" required>
                </div>

                <div class="col-md-3"?>
                    <label for="mobilephone" class="form-label">Mobile Number</label>
                    <input id="mobilephone" name="mobilephone" type="number" class="form-control" value="{{ account.mobile }}" required>
                </div>


                <div class="col-12">
                <label for="street1" class="form-label">Street Address</label>
                <input id="street1" name="street1" type="text" class="form-control" value="{{ account.street1 }}" required>
              </div>
                <div class="col-12">
                <label for="street2" class="form-label">Street Address 2</label>
                <input id="street2" name="street2" type="text" class="form-control"  value="{{ account.street2 }}" required>
              </div>
                <div class="col-md-3">
                <label for="city" class="form-label">City</label>
                <input id="city" name="city" type="text" class="form-control" value="{{ account.city }}" required>
              </div>
                <div class="col-md-3">
                <label for="state" class="form-label">State/Province</label>
                <input id="state" name="state" type="text" class="form-control" value="{{ account.state }}" required>
              </div>
                <div class="col-md-3">
                    <label for="country" class="form-label">Country</label>
                    <input id="country" name="country" type="text" class="form-control" value="{{ account.country }}" required>
              </div>
                <div class="col-md-2">
                    <label for="zip" class="form-label">Zip</label>
                    <input id="zip" name="zip" type="number" class="form-control" value="{{ account.zip }}" required>
              </div>

                <div class="col-md-12">
                    <label for="imageurl" class="form-label">Image</label>
                    <input id="imageurl" name="imageurl" type="url" class="form-control" value="{{ account.url }}" required>
                </div>

                <br>

                <h2 class="card-title">Application Information</h2>

                <div class="col-md-3">
                    <label for="applicationtype" class="form-label">Application Type</label>
                    <select id="applicationtype" name="applicationtype" class="form-select" required>
                        <option selected></option>
                        <option value="Freshman">Freshman</option>
                        <option value="Transferee">Transferee</option>
                        <option value="Foreign">Foreign</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="semester" class="form-label">Semester</label>
                    <select id="semester" name="semester" class="form-select" required>
                        <option selected></option>
                        <option value="1st Sem">First Semester</option>
                        <option value="2nd Sem">Second Semester</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="campus" class="form-label">Campus</label>
                    <select id="campus" name="campus" class="form-select" required>
                        <option selected></option>
                        <option value="UP Baguio">UP Baguio</option>
                        <option value="UP Cebu">UP Cebu</option>
                        <option value="UP Diliman">UP Diliman</option>
                        <option value="UP Pampanga">UP Pampanga</option>
                        <option value="UP Los Banos">UP Los Banos</option>
                        <option value="UP Manila">UP Manila</option>
                        <option value="UP Visayas">UP Visayas</option>
                        <option value="UP Mindanao">UP Mindanao</option>
                        <option value="UP Open University">UP Open University</option>
                    </select>
                </div>

                <div class="col-md-12">
                    <label for="course" class="form-label">Course applied</label>
                    <input id="course" name="course" type="text" class="form-control" value="{{ account.course }}" required>
                </div>

                    <div class="col-md-1">

                        <button id="action" name="action" type="submit" class="btn btn-primary">Save</button>
                    </div>

                    <div class="col-md-1">
                        <a class="btn btn-danger" href="{{ url_for('application') }}">Cancel</a>
                    </div>
            </form>
        </div>
    </div>
</div>


<br>



{% endblock %}