<!--Homepage-->

{% extends 'base.html' %}

{% block contents%}

<?php echo "Hello World" ?>
<!-- Page Title -->
<div class="container">
    <h1 style="color:maroon">UP College Admission Online Application General Information</h1>
</div>

<br>

<!-- Table of Contents -->
<div class="container">
    <div class="card">
        <h2 class="card-header" style="color:maroon">Table of Contents</h2>
        <div class="card-body">
            <ul>
                <li><a href="#about">About the University</a></li>
                <li><a href="#admission">Admission into the University</a></li>
                <ul>
                    <li><a href="#choice-campus">Choice of Campus and Degree Program</a></li>
                    <li><a href="#isko-program">The Iskolar ng Bayan Program</a></li>
                    <li><a href="#international">International Qualifications</a></li>
                    <li><a href="#transfer">Transfer Admission</a></li>
                </ul>
                <li><a href="#Applications">Application for Admissions for AY 2021-2022</a></li>
                <ul>
                    <li><a href="#requirements">Minimum Application Requirements</a></li>
                    <li><a href="#how-apply">How to Apply</a></li>
                    <li><a href="#results">Application Results</a></li>
                </ul>
                <li><a href="#UP-Manila">UP Manila Return Service Agreement</a></li>
                <li><a href="#int-apps">Freshman Admissions for International Applicants</a></li>
                <ul>
                    <li><a href="#autoadmin">By Automatic Admission</a></li>
                </ul>
                <li><a href="#geninfo">General Information About UP Student Financial Assistance Programs</a></li>
                <li><a href="#courses">Undergraduate Degree Programs</a></li>
                <li><a href="#cert-courses">Non-baccalaureate/Certificate/Associate in Arts Programs</a></li>
            </ul>
        </div>
    </div>
</div>

<br>
<br>

<!-- About -->
<div class="container-sm">
    <div class="card">
        <h2 class="card-header" style="color:maroon" id="about">About the University</h2>
        <div class="card-body">
            <p>The University of the Philippines (UP) as the National University is mandated to perform its unique and distinctive leadership in knowledge creation and public service. The UP is a vast System of 8 Constituent Universities located in 17 campuses, and UP students are from almost all regions of the country. They stand shoulder to shoulder to create a community of varied ideas, experiences and cultures. This is <b>Tatak UP</b> – a celebration of both diversity and unity.</p>
            <ul>
        <li><b>UP Baguio</b> in the mountain province of Benguet is a leading institution in the Northern Philippines in the areas of science, mathematics, social sciences, and the humanities. It is internationally noted for its Cordillera Studies program.</li>
        <li><b>UP Cebu</b> is the 8th constituent university and is located in Cebu City, a significant center of commerce and education in the Central Visayas. It offers 8 undergraduate programs under 4 colleges with a strong focus on its information technology and business programs.</li>
        <li><b>UP Diliman</b> in Quezon City with its sprawling campus provides an eclectic and dynamic learning atmosphere with more than 1,500 faculty and close to 24,000 students. There are 77 undergraduate, 1 Juris Doctor, 1 BA-MA Honors, and 171 graduate degree programs across 26 colleges, centers & institutes, among which are 26 CHED Centers of Excellence.</li>
        <li><b>UP Diliman Extension Program in Pampanga</b> located at the Clark Special Economic Zone offers three undergraduate programs with a focus on business and industry, and provides research opportunities on the development of indigenous people in Clark and Subic.</li>
        <li><b>UP Los Baños</b> at the foot of Mt. Makiling is the country's recognized leader in agriculture, forestry and environmental management. It has 9 CHED Centers of Excellence: agricultural engineering, agriculture, biology, forestry, information technology, environmental science, statistics, veterinary medicine, and development communication.</li>
        <li><b>UP Manila</b> in the Ermita District is the premier institution for the health sciences with extension campuses of its School of Health Sciences established in Luzon (Baler, Aurora), Visayas (Palo, Leyte), and Mindanao (Koronadal, South Cotabato). It offers 18 undergraduate programs through its 9 degree-granting units.</li>
        <li><b>UP Visayas</b> with beautiful campuses in Iloilo City, Iloilo; Miag-ao, Iloilo; and Tacloban, Leyte, is the acknowledged authority in marine science education and research, fisheries, and aquaculture in the country.</li>
        <li><b>UP Mindanao</b> in Davao City has 9 undergraduate programs offered by the College of Humanities and Social Sciences, the College of Science and Mathematics, and the School of Management, providing affordable quality education to diverse, marginalized and deserving sectors in the Southern Philippines.</li>
        <li><b>UP Open University</b> is the nation's most comprehensive distance education institution with online degree programs at the baccalaureate, masters and doctoral levels, plus certificate and diploma programs, and continuing education courses. At the undergraduate level it offers an Associate in Arts degree (AA), pioneering Bachelor's degrees in Multimedia Studies (BAMS) and in Education Studies (BES) using online teaching technologies.</li>
    </ul>
            <p>In line with the guiding spirit of <b>ONE UNIVERSITY ONE UP</b>, and the university's commitment to high standards of academic excellence, qualification in undergraduate degree programs in UP is highly competitive. UP as the National University also takes affirmative steps in its admission process to enhance the access of disadvantaged students to high quality education. Tuition is free in UP.</p>
            <p>The University Councils (UCs) of the UP System unanimously decided that there will be <b>NO UP College Admission Test</b> for the 2021 applicants in light of health and logistical issues brought about by the Covid-19 pandemic. The UCs further approved an additional assessment by academic units to qualify for a degree program, if deemed necessary. Applicants will be notified of such assessment or other additional requirements after the evaluation of their High School Records.</p>
        </div>
    </div>
</div>

<br>
<br>

<!-- Admission Into the University -->
<div class="container">
    <div class="card">
        <h2 class="card-header" style="color:maroon" id="admission">Admission into the University</h2>
        <div class="card-body">
            <p class="card-text">In the absence of a college admission test for the specific intake year 2021-2022, a composite of the final grades in Grade 8, 9, 10 and first semester of Grade 11 shall be the basis to determine the UP admission grade (UPG). Specific degree programs may request for additional requirements to qualify for admission, if deemed necessary. To implement the policy of democratic access, UP also considers socioeconomic and geographic factors in its admission process.</p>
            <h5 class="card-title" style="color:maroon" id="choice-campus">A. Choice of Campus and Degree Program</h5>
            <h6 class="card-title" style="color:maroon">Selection for a campus</h6>
            <p class="card-text">Admission into UP is very selective due to high demand. Applicants come from very diverse backgrounds but they are all ranked based on indicators of academic preparedness for university life.</p>
            <ul>
                <li>Selection for admission to a campus is based on the applicant’s rank, campus quota and/or cut-off grade.</li>
                <li>A successful applicant can receive an offer of admission to only one campus out of 2 choices.</li>
            </ul>
            <h6 class="card-title" style="color:maroon">Selection for a degree program</h6>
            <p class="card-text">The successful applicants for a given campus are ranked according to grade predictors and quotas of their chosen degree programs. Some degree programs are more competitive due to high demand.</p>
            <ul>
                <li>Applicants should choose only degree programs they are interested in. If an applicant is not successful for his/her first choice of campus, the process continues in order of priority of the remaining choices.</li>
                <li>Applicants who are selected for a given campus but have not been selected for any of their chosen degree programs in that campus will be assisted by the Office of the University Registrar to choose a degree program with available slots (DPWAS).</li>
            </ul>
            <h6 class="card-title" style="color:maroon">Appeals</h6>
            <p class="card-text">If your application to any of your campus choices is not successful, you may appeal for admission to a degree program in another UP campus if your admission score is within the campus’ cut-off grade, and the program has available slots.</p>
            <ul>
                <li>Some campuses are not open to appeals. Please check the different campus websites to find out which campuses are open to appeals.</li>
                <li>Each campus may have additional criteria in processing appeals.</li>
            </ul>
            <h5 class="card-title" style="color:maroon" id="isko-program">B. The Iskolar ng Bayan Program</h5>
            <p class="card-text">If you are a <u>Filipino public high school graduate in the Top Ten of your graduating class</u>, you may apply for freshman <u>automatic admission</u> for SY 2021-2022, as provided by the Iskolar ng Bayan Law of 2014. The law also requires that you comply with other admission requirements of the university and enroll in a UP Campus that is in the same region as your high school.</p>
            <ul>
                <li>You are also entitled to free tuition and other school fees for the first year of college.</li>
                <li>Application forms for the Iskolar ng Bayan program may be obtained from the Office of Student Affairs (OSA) or Office of Scholarships and Grants (OSG) of the campus you wish to enroll in.</li>
                <li>There are limited slots per campus for the Iskolar ng Bayan Program.</li>
            </ul>
            <h5 class="card-title" style="color:maroon" id="international">C. International Qualifications</h5>
            <p class="card-text">Foreign OR Filipino applicants who have <u>graduated or are graduating from a secondary school school abroad</u> (i.e. international applicant) and have not enrolled in college before SY 2021-2022 may be admitted as freshmen by automatic admission, provided they meet other admission requirements, <u>including qualifications for college admission by national or international foreign-administered examinations</u>.</p>
            <h5 class="card-title" style="color:maroon" id="transfer">D. Transfer Admission</h5>
            <p class="card-text">Students from other universities may apply for transfer to a UP campus after earning 33 academic units in another school with a weighted average of 2.00 or better on the UP marking system. Information regarding transfer procedures to UP may be obtained from the Office of the University Registrar of the respective UP campuses.</p>
        </div>
    </div>
</div>

<br>
<br>

<!-- Application for Admissions for AY-2021-2022 -->
<div class="container">
    <div class="card">
        <h2 class="card-header" style="color:maroon" id="Applications">Application for Admissions for AY 2021-2022</h2>
        <div class="card-body">
            <h5 class="card-title" style="color:maroon" id="requirements">I. Minimum Application Requirements</h5>
            <ol>
                <li>Senior high school student expecting to graduate before SY 2021-2022 from a DepEd-accredited high school or an accredited secondary school abroad; OR</li>
                <li>Graduate of a DepEd-accredited high school or accredited secondary school abroad; AND</li>
                <li>Must have final grades for Grade 8, 9, 10 and first semester of Grade 11;</li>
                <li>Must not have taken any college subject/s; AND</li>
                <li>Must not have taken the UP College Admission Test before</li>
            </ol>
            <h6 class="card-title" style="color:maroon">Dates to Remember</h6>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Start of Application Period</th>
                        <td>01 July 2021</td>
                    </tr>
                    <tr>
                        <th scope="row">Deadline of Filing of Applications</th>
                        <td>15 August 2021</td>
                    </tr>

                </tbody>
            </table>
            <h6 class="card-title" style="color:maroon">Checklist of Required Documents</h6>
            <p class="card-text">Before you start your application, please prepare the following documents that you are required to submit together with your application. Refer to this checklist before you submit Form 1.</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Category of Applicant</th>
                        <th scope="col">Required Documents</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">All applicants</td>
                        <td>
                            <ol>
                                <li>Form 1 Personal Data Sheet</li>
                                <li>Form 2 High School Record</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">IF Highschool graduate</td>
                        <td>High school diploma</td>
                    </tr>
                    <tr>
                        <td scope="row">IF Graduating in 2021 from a local HS</td>
                        <td>DepEd Certificate of Recognition or Permit to Operate</td>
                    </tr>
                    <tr>
                        <td scope="row">ONLY IF Transferee (i.e. has taken subjects from another high school)</td>
                        <td>Certified clear photocopy of the Permanent Secondary School Record (F137) from other school with all the grades earned therein</td>
                    </tr>
                    <tr>
                        <td scope="row">For Foreign Applicants Only</td>
                        <td>Proof of payment of application processing fee</td>
                    </tr>
                </tbody>
            </table>
            <h5 class="card-title" style="color:maroon" id="how-apply">II. How to Apply</h5>
            <h6 class="card-title">Step 1: Fill out the <a href="{{url_for ('application') }}">application form</a></h6>
            <p class="card-text">Notes about account creation and application</p>
            <ul>
                <li>You will need a valid email address for logging on to your application account and for receiving notifications about your application status and results.</li>
                <li>Please check if the email address you intend to register in order to file your application has not been compromised in a data breach. Kindly refer to <a href="https://haveibeenpwned.com/.">https://haveibeenpwned.com/</a>.</li>
                <li>We strongly encourage the use of secured e-mail accounts preferably with two-step verification to better protect your right to data privacy.</li>
                <li>When you create your account do not recycle or re-use passwords already associated with the email address you intend to register in order to secure your personal data.</li>
                <li>Please keep your access credentials secure.</li>
                <li>Do not create multiple accounts as these will cause much delay in accessing your application forms.</li>
                <li>You are required to read the <a href="{{ url_for ('privacy') }}">UP Privacy Notice for Applicants for Freshmen Admissions Academic Year 2021-22</a> before creating your account and filling out Form 1.</li>
                <li>Make sure you have a stable internet connection.</li>
                <li>Fill out Form 1 completely.</li>
                <li><b>DO NOT FORGET YOUR E-MAIL ADDRESS AND PASSWORD</b></li>
            </ul>
            <h6 class="card-title">Step 2: The Online portal shall automatically forward a request to your high school principal/school head to fill out Form 2 (Secondary School Record).</h6>
            <ul>
                <li>Only a duly authorized school official may fill out this form with your high school records.</li>
                <li>Your accomplished Form 2 shall be forwarded to you for your own record-keeping. You should raise to your high school any issues in your grades to ensure the veracity of records to be used in your application.</li>
            </ul>
            <h6 class="card-title">STEP 3. FOR NON-FILIPINO APPLICANTS ONLY: Pay the Application fee.</h6>
            <p class="card-text">The <b>non-refundable</b> Application Fee is:</p>
            <ul>
                <li>P450 for resident foreign applicants studying in the Philippines</li>
                <li>USD50 for non-resident foreign applicants</li>
            </ul>
            <p class="card-text">MODES OF PAYMENT: The application fee may be paid through any of the following:</p>
            <ul>
                <li>Any Land Bank (LBP) branch, Account Number 3072-1007-50 or 1462-2220-13 (for peso payments);</li>
                <li>Any Philippine National Bank (PNB) branch, Account No. 108660027136 (for US dollar payments);</li>
            </ul>
            <p class="card-text">NOTE:</p>
            <ol>
                <li>Landbank and PNB will be charging a service fee of P25 for every application;</li>
                <li>Different banks have also set their own fees for the purchase of Manager's Checks and Cashier's Checks.</li>
            </ol>
            <h5 class="card-title" style="color:maroon" id="results">III. Application Results</h5>
            <p class="card-text">Check your application results on this website. You will need the same email account that you used for application to view your application results. If you qualify for admission to UP, register according to the instructions provided by the college or unit to which you have been accepted. </p>
        </div>
    </div>
</div>

<br>
<br>

<!-- UP Manila Return Service Agreement -->
<div class="container">
    <div class="card">
        <h2 class="card-header" style="color:maroon" id="UP-Manila">UP Manila Return Service Agreement</h2>
        <div class="card-body">
            <p class="card-text">UP Manila launched a Return Service Program in 2001 for students of its Health colleges to sign a contract that requires them to work in the Philippines for a period of not less than 2 years within 5 years after graduation.</p>
            <p class="card-text">The Return Service Agreement (RSA) covers the different courses offered by:</p>
            <ul>
                <li>College of Allied Medical Professions</li>
                <li>College of Dentistry</li>
                <li>College of Medicine</li>
                <li>College of Nursing</li>
                <li>College of Pharmacy</li>
                <li>College of Public Health, and</li>
                <li>School of Health Services.</li>
            </ul>
            <p class="card-text">Under the RSA, graduates are mandated to serve in the country, preferably in accordance with the roles and nature of their respective professions and along the three major functions of the university, but not limited to education/training, research, and direct service.</p>
            <p class="card-text">For further information on the RSA, please visit this website <a href="http://alumni.upm.edu.ph/?q=node/5">http://alumni.upm.edu.ph/?q=node/5.</a></p>
        </div>
    </div>
</div>

<br>
<br>

<!-- International Applicants -->
<div class="container">
    <div class="card">
        <h2 class="card-header" style="color:maroon" id="int-apps">Freshman Admissions for International Applicants</h2>
        <div class="card-body">
            <p class="card-text"><b>A foreign OR Filipino applicant who has graduated or is graduating from a secondary school/home school abroad (i.e. international applicant)</b> and has not enrolled in college may be admitted to the freshman class by automatic admission. Filipino students from Philippine high schools in the Middle East may also apply.</p>
            <h5 class="card-title" style="color:maroon" id="autoadmin">By Automatic Admission</h5>
            <p class="card-text">An international applicant may apply for automatic admission if s/he meets the following requirements:</p>
            <ol>
                <li><b>Completion of a high school program</b> in the country where s/he had secondary education (including the completion of a one- or two-year pre-university education in a country where such is a prerequisite for admission to a bachelor's degree program); AND</li>
                <li><b>Qualifications for college admission by any of the following national or international foreign-administered examinations:</b> the <u>SAT</u>, OR the <u>General Certificate of Education</u> (GCE) Examination, OR the <u>International Baccalaureate Diploma</u> (IB), <u>OR other equivalent examinations approved by UP</u>.</li>
                <ol type="a">
                    <li>SAT: (scores must not have been taken more than 4 years before application)</li>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope ="col">Minimum SAT Scores</th>
                                <th scope ="col">Old SAT</th>
                                <th scope ="col">Redesigned SAT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Total Score</th>
                                <td>1200</td>
                                <td>1270</td>
                            </tr>
                            <tr>
                                <th scope="row">Section Scores</th>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">Math</th>
                                <td>600</td>
                                <td>620</td>
                            </tr>
                            <tr>
                                <th scope="row">Critical Reading</th>
                                <td>600</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">Evidence-based Writing + Critical Reading</th>
                                <td>-</td>
                                <td>650</td>
                            </tr>
                        </tbody>
                    </table>
                    <li><b>GCE</b>: 2 ordinary (O) level passes/GCSE/IGCSE and 3 advanced (A) level passes; OR</li>
                    <li><b>International Baccalaureate</b> (IB) Diploma</li>
                </ol>
                <li>In the case of an applicant whose native language or medium of instruction in the secondary school is not English, a minimum score (500 if paper based or 173 if computer based) in the <b>Test of English as a Foreign Language</b> (TOEFL).</li>
            </ol>
        </div>
    </div>
</div>

<br>
<br>

<!-- General Info -->
<div class="container">
    <div class="card">
        <h2 class="card-header" style="color:maroon" id="geninfo">General Information About UP Student Financial Assistance Programs</h2>
        <div class="card-body">
            <p class="card-text">The University of the Philippines is highly committed to admitting the best students and providing increased access to quality higher education. For AY 2021-2022, all eligible students will be granted free tuition and miscellaneous fees when they enroll in the University of the Philippines, in accordance with the Universal Access to Quality Tertiary Education Act of 2017. In addition to tuition and other fee subsidies given by the National Government, the University also provides other forms of financial assistance to qualified students. These are grouped according to financial needs they address:</p>
            <p class="card-title">Programs that provide subsidy for tuition and other school fees</p>
            <ul>
                <li>Iskolar ng Bayan Act</li>
                <li>Grants-in-Aid Program (GIAP)</li>
                <li>Other Scholarship and Grant Programs that waive tuition and other school fees offered by UP's constituent universities</li>
            </ul>
            <p class="card-title">Programs that provide living allowance on monthly or per semester basis</p>
            <ul>
                <li>Student and Graduate Assistantships (SAGA)</li>
                <li>Grants-in-Aid Program (GIAP)</li>
                <li>UP Presidential Scholarship</li>
                <li>UP Presidential Leadership Grant</li>
                <li>Other student programs that grant cash allowances offered by UP's constituent universities</li>
            </ul>
            <p class="card-title">Programs that defer cash payments during the semester</p>
            <ul>
                <li>UP Tuition Loan Program</li>
                <li>Other tuition loan programs offered by UP's constituent universities</li>
            </ul>
            <p class="card-text"><b>ISKOLAR NG BAYAN ACT</b>: By virtue of RA 10648, applicants who belong to the Top 10 graduates of a public high school may be automatically admitted (without taking the UPCAT) to UP under the Iskolar ng Bayan Program if they graduated from public high schools from the region where a UP constituent university is located. The total number of grantees shall be limited to approximately five (5) percent of previous year's freshmen enrollees. Once selected, grantees' tuition and other fees are waived on their first year in UP.</p>
            <p class="card-text"><b>GRANTS-IN-AID PROGRAM (GIAP)</b>: UP created the Grants-in-Aid Program (GIAP) to reduce the cost paid by students during enrollment, based on the household's paying capacity to which a student belongs. Through the GIAP, UP may subsidize a portion of the full cost required during enrollment and, in some instances, grant additional subsidy to waive miscellaneous fees and grant monthly cash allowances. Please visit <a href="https://slasonline.up.edu.ph/">https://slasonline.up.edu.ph/</a> for more information about other learning assistance programs that are currently available.</p>
            <p class="card-text"><b>STUDENT AND GRADUATE ASSISTANTSHIPS (SAGA)</b>: The UP's SAGA is a program for upperclassmen and graduate students to gain experiences on leadership and ethics in the workplace, in the course of assisting UP in fulfilling its teaching, research, and public service functions. Student Assistants (SAs) are given allowances based on hours rendered: Currently at P60/hour for undergraduate students, P100/hour for MA/MS, and P140/hour for PhD.</p>
            <p class="card-text"><b>UP TUITION LOAN PROGRAM</b>: Students may avail of short-term loans through the Student Loan Board. Students must be settled before the end of the semester or trimester.</p>
            <p class="card-text"><b>UP PRESIDENTIAL SCHOLARSHIP AND UP PRESIDENTIAL LEADERSHIP GRANT PROGRAMS</b>: These programs are competitive scholarship programs awarded to students with outstanding academic accomplishments and leadership achievements. Undergraduate students with a general weighted average of at least a "1.75" and "2.75" are eligible to apply for the scholarships, respectively. The total number of scholars is limited to the number of slots that are vacant every academic year.</p>
            <p class="card-text">Other scholarships, study grants, and awards donated by government and private companies or individuals, are also available. For inquiries, please email the UP System Office of Student Financial Assistance at <u>info.osfa@up.edu.ph</u>, or check the websites of the Office of Student Affairs/Office of Scholarships and Student Services of the different UP campus units.</p>
        </div>
    </div>
</div>

<br>
<br>

<!-- Undergrad Programs -->
<div class="container">
    <div class="card">
        <h2 class="card-header" style="color:maroon" id="courses">Undergraduate Degree Programs</h2>
        <div class="card-body">
            <h5 class="card-title"><a href="https://web.upb.edu.ph/">UP BAGUIO</a></h5>
            <ul style="list-style-type:none;">
                <li>1038 BS Biology</li>
                <li>1160 BA Communication</li>
                <li>1132 BS Computer Science</li>
                <li>1118 B   Fine Arts</li>
                <li>1189 BA Language & Literature</li>
                <li>1045 BS Management Economics</li>
                <li>1101 BS Mathematics</li>
                <li>1107 BS Physics</li>
                <li>1194 BA Social Sciences (Economics)</li>
                <li>1195 BA Social Sciences (History)</li>
                <li>1196 BA Social Sciences (Anthropology) </li>
            </ul>
            <br>
            <h5 class="card-title"><a href="https://www.upcebu.edu.ph/">UP CEBU</a></h5>
            <ul style="list-style-type:none;">
                <li>2038 BS Biology</li>
                <li>2163 BA Communication</li>
                <li>2132 BS Computer Science</li>
                <li>2154 B   Fine Arts (Product Design)</li>
                <li>2155 B   Fine Arts (Studio Arts)</li>
                <li>2099 BS Management</li>
                <li>2101 BS Mathematics</li>
                <li>2022 BA Political Science</li>
                <li>2023 BA Psychology</li>
            </ul>
            <br>
            <h5 class="card-title"><a href="https://upepp.upd.edu.ph/">UP PAMPANGA</a></h5>
            <ul style="list-style-type:none;">
                <li>3023 BA Applied Psychology</li>
                <li>3201 BA Business Economics</li>
                <li>3135 BS Business Management</li>
            </ul>
            <br>
            <h5 class="card-title"><a href="https://our.upd.edu.ph/files/degprog.pdf">UP DILIMAN</a></h5>
            <ul style="list-style-type:none;">
                <li>4001 BA Anthropology</li>
                <li>4129 BS Applied Physics</li>
                <li>4036 BS Architecture (5 yrs)</li>
                <li>4156 BA Art Studies</li>
                <li>4038 BS Biology</li>
                <br>
                <li>4141 BA Broadcast Media Arts and Studies</li>
                <li>4040 BS Business Administration</li>
                <li>4043 BS Business Administration and Accountancy (4.5 yrs)</li>
                <li>4044 BS Business Economics</li>
                <li>4078 BS Chemical Engineering</li>
                <br>
                <li>4046 BS Chemistry</li>
                <li>4079 BS Civil Engineering</li>
                <li>4047 BS Clothing Technology</li>
                <li>4178 BA Communication Research</li>
                <li>4048 BS Community Development</li>
                <br>
                <li>4049 BS Community Nutrition</li>
                <li>4007 BA Comparative Literature</li>
                <li>4180 BS Computer Engineering</li>
                <li>4132 BS Computer Science</li>
                <li>4195 BA Creative Writing</li>
                <br>
                <li>4145 BS Economics</li>
                <li>4080 BS Electrical Engineering</li>
                <li>4281 BS Electronics Engineering</li>
                <li>4139 B   Elementary Education</li>
                <li>4158 BA English Studies</li>
                <br>
                <li>4010 BA European Languages</li>
                <li>4086 BS Family Life and Child Development</li>
                <li>4097 BA Filipino at Panitikan ng Pilipinas</li>
                <li>4279 BA Film</li>
                <li>4118 B  Fine Arts</li>
                <br>
                <li>4088 BS Food Technology</li>
                <li>4081 BS Geodetic Engineering</li>
                <li>4091 BS Geography</li>
                <li>4092 BS Geology</li>
                <li>4012 BA History</li>
                <br>
                <li>4093 BS Home Economics</li>
                <li>4190 BS Hotel, Restaurant and Institution Management</li>
                <li>4082 BS Industrial Engineering</li>
                <li>4196 BS Interior Design</li>
                <li>4016 BA Journalism</li>
                <br>
                <li>4121 B   Landscape Architecture</li>
                <li>4122 B   Library and Information Science</li>
                <li>4017 BA Linguistics</li>
                <li>4159 BA Malikhaing Pagsulat sa Filipino</li>
                <li>4188 BS Materials Engineering</li>
                <br>
                <li>4101 BS Mathematics</li>
                <li>4083 BS Mechanical Engineering</li>
                <li>4084 BS Metallurgical Engineering</li>
                <li>4085 BS Mining Engineering</li>
                <li>4147 BS Molecular Biology and Biotechnology</li>
                <br>
                <li>4123 B   Music</li>
                <li>4096 BA Philippine Studies</li>
                <li>4020 BA Philosophy</li>
                <li>4124 B   Physical Education</li>
                <li>4107 BS Physics</li>
                <li></li>
                <br>
                <li>4022 BA Political Science</li>
                <li>4023 BA Psychology</li>
                <li>4110 BS Psychology</li>
                <li>4148 B   Public Administration</li>
                <li>4138 B   Secondary Education</li>
                <br>
                <li>4112 BS Social Work</li>
                <li>4025 BA Sociology</li>
                <li>4027 BA Speech Communication</li>
                <li>4161 B   Sports Science</li>
                <li>4114 BS Statistics</li>
                <li></li>
                <li></li>
            </ul>
            <br>
            <h5 class="card-title"><a href="https://www.upv.edu.ph/">UP VISAYAS-ILOILO</a></h5>
            <ul style="list-style-type:none;">
                <li>5176 BS Accountancy (4.5 yrs)</li>
                <li>5034 BS Applied Mathematics</li>
                <li>5038 BS Biology</li>
                <li>5042 BS Business Administration (Marketing)</li>
                <li>5078 BS Chemical Engineering</li>
                <br>
                <li>5046 BS Chemistry</li>
                <li>5241 BA Communication and Media Studies</li>
                <li>5202 BA Community Development</li>
                <li>5132 BS Computer Science</li>
                <li>5145 BS Economics</li>
                <br>
                <li>5087 BS Fisheries</li>
                <li>5088 BS Food Technology</li>
                <li>5012 BA History</li>
                <li>5182 BA Literature</li>
                <li>5099 BS Management</li>
                <br>
                <li>5022 BA Political Science</li>
                <li>5023 BA Psychology</li>
                <li>5111 BS Public Health</li>
                <li>5025 BA Sociology</li>
                <li>5114 BS Statistics</li>
            </ul>
            <br>
            <h5 class="card-title"><a href="https://uplb.edu.ph/main/">UP LOS BAÑOS</a></h5>
            <ul style="list-style-type:none;">
                <li>6275 BS Agribusiness Management and Entrepreneurship</li>
                <li>6032 BS Agricultural and Biosystems Engineering</li>
                <li>6037 BS Agricultural Biotechnology</li>
                <li>6030 BS Agricultural Chemistry (5 yrs)</li>
                <li>6231 BS Agricultural and Applied Economics</li>
                <br>
                <li>6033 BS Agriculture</li>
                <li>6034 BS Applied Mathematics</li>
                <li>6129 BS Applied Physics</li>
                <li>6038 BS Biology</li>
                <li>6078 BS Chemical Engineering</li>
                <br>
                <li>6046 BS Chemistry</li>
                <li>6079 BS Civil Engineering</li>
                <li>6006 BA Communication Arts</li>
                <li>6132 BS Computer Science</li>
                <li>6050 BS Development Communication</li>
                <br>
                <li>6145 BS Economics</li>
                <li>6080 BS Electrical Engineering</li>
                <li>6288 BS Food Science and Technology</li>
                <li>6090 BS Forestry</li>
                <li>6097 BS Human Ecology</li>
                <br>
                <li>6082 BS Industrial Engineering</li>
                <li>6101 BS Mathematics</li>
                <li>6194 BS Mathematics and Science Teaching</li>
                <li>6083 BS Mechanical Engineering</li>
                <li>6137 BS Nutrition</li>
                <li>6020 BA Philosophy</li>
                <br>
                <li>6025 BA Sociology</li>
                <li>6025 BA Sociology</li>
                <li>6127 D   Veterinary Medicine (6 yrs)</li>
            </ul>
            <br>
            <h5 class="card-title"><a href="https://www1.upm.edu.ph/">UP MANILA</a></h5>
            <ul style="list-style-type:none;">
                <li>7129 BS Applied Physics</li>
                <li>7187 BA Behavioral Sciences</li>
                <li>7183 BS Biochemistry</li>
                <li>7038 BS Biology</li>
                <li>7132 BS Computer Science</li>
                <br>
                <li>7126 D   Dental Medicine (6 yrs)</li>
                <li>7128 BA Development Studies</li>
                <li>7298 BS Pharmaceutical Sciences (5 yrs)</li>
                <li>7103 BS Nursing</li>
                <li>7104 BS Occupational Therapy</li>
                <br>
                <li>7144 BA Organizational Communication</li>
                <li>7105 BS Pharmacy (5 yrs)</li>
                <li>7149 BA Philippine Arts</li>
                <li>7106 BS Physical Therapy</li>
                <li>7022 BA Political Science</li>
                <li>7111 BS Public Health</li>
                <li>7193 BA Social Sciences (Area Studies)</li>
                <li>7113 BS Speech Pathology</li>
            </ul>
            <br>
            <h5 class="card-title"><a href="https://tac.upv.edu.ph/">UP VISAYAS-TACLOBAN</a></h5>
            <ul style="list-style-type:none;">
                <li>8176 BS Accountancy (4.5 yrs)</li>
                <li>8038 BS Biology</li>
                <li>8006 BA Communication Arts</li>
                <li>8132 BS Computer Science</li>
                <li>8099 BS Management</li>
                <br>
                <li>8023 BA Psychology</li>
                <li>8277 BA Economics</li>
                <li>8170 BA Social Sciences (Political Science)</li>
            </ul>
            <br>
            <h5 class="card-title"><a href="https://www2.upmin.edu.ph/">UP MINDANAO</a></h5>
            <ul style="list-style-type:none;">
                <li>9203 BS Agribusiness Economics</li>
                <li>9201 BS Anthropology</li>
                <li>9034 BS Applied Mathematics</li>
                <li>9036 BS Architecture</li>
                <li>9038 BS Biology</li>
                <br>
                <li>9241 BA Communication and Media Arts</li>
                <li>9132 BS Computer Science</li>
                <li>9157 BA English (Creative Writing)</li>
                <li>9088 BS Food Technology</li>
            </ul>
            <br>
            <h5 class="card-title"><a href="https://www.upou.edu.ph/home/">UP OPEN UNIVERSITY</a></h5>
            <ul style="list-style-type:none;">
                <li>A337 B   Education Studies (4 yrs, trimester)</li>
                <li>A341 BA Multimedia Studies (4 yrs, trimester)</li>
            </ul>
        </div>
    </div>
</div>

<br>
<br>

<!-- Certificate Courses -->
<div class="container">
    <div class="card">
        <h2 class="card-header" style="color:maroon" id="cert-courses">Non-baccalaureate/Certificate/Associate in Arts Programs</h2>
        <div class="card-body">
            <ul style="list-style-type:none;">
                <li>Certificate in Fine Arts (Visual Arts) - 3 yrs: Baguio</li>
                <li>Certificate in Fine Arts (Studio Arts) - 3 yrs: Cebu</li>
                <li>Associate in Arts (Music) - 2 yrs: Diliman (CMu)</li>
                <li>Associate in Arts (Industrial Design) - 2 yrs: Diliman (CFA)</li>
                <li>Associate in Arts (Studio Arts) - 2 yrs: Diliman (CFA)</li>
                <li>Associate in Arts (Visual Communication) - 2 yrs: Diliman (CFA)</li>
                <li>Associate in Arts (Theatre) - 2 yrs: Diliman (CFA)</li>
                <li>Associate in Arts (Malikhaing Pagsuklat sa Filipino) - 2 yrs: Diliman (CAL)</li>
                <li>Certificate in Forestry - 2 yrs: Los Baños (CF)</li>
                <li>Associate in Arts - 2 yrs: Open University</li>
                <br>
                <li><b>(UP Minimum Grade of 2.800 required)</b></li>
                <li>Associate in Arts (Sports Studies) - 2 yrs: Diliman (CHK)</li>
            </ul>
        </div>
    </div>
</div>

<br>




{% endblock %}

