<!--Privacy Notice Page-->

{% extends 'base.html' %}

{% block contents %}
<!-- Page Title -->
<div class="container">
    <div class="card">
        <h1 class="card-header text-center" style="color:maroon">UNIVERSITY OF THE PHILIPPINES (UP) SYSTEM PRIVACY NOTICE</h1>
        <div class="card-body">
            <h4 class="card-title" style="color: maroon">PART I: POLICY</h4>
            <ol>
                <li>The University of the Philippines (UP) is required by law to process your personal information and sensitive personal information in order to safeguard academic freedom, uphold your right to quality education, and protect your right to data privacy in conformity with Republic Act No. 10173, otherwise known as the Data Privacy Act of 2012, and its implementing rules and regulations. The said law can be viewed via <a href="https://www.officialgazette.gov.ph/2012/08/15/republic-act-no-10173/">https://www.officialgazette.gov.ph/2012/08/15/republic-act-no-10173/</a>.</li>
                <li>
                    This privacy notice explains in broad terms:
                    <ol type="a">
                        <li>the purposes for processing your personal data for admission to UP;</li>
                        <li>the legal or lawful bases for such processing;</li>
                        <li>the measures in place to protect your data privacy; and</li>
                        <li>your data privacy rights.</li>
                    </ol>
                </li>
                <li>Republic Act No. 10173 and its implementing rules and regulations may be referred to as RA 10173, the Data Privacy Act of 2012, or simply the DPA, where applicable. For purposes of this privacy notice, references to the DPA may also include the issuances of the National Privacy Commission (NPC), or the rules UP may issue in order to comply with the said law.</li>
                <li>The term personal data includes personal information and sensitive personal information (as these terms are defined in the DPA). In essence, these are information that identify individuals.</li>
                <li>The terms process or processing refer to any operation, or any set of operations, performed on personal data including the collection, recording, organization, storage, updating or modification, retrieval, consultation, use, consolidation, blocking, erasure or destruction of data.</li>
                <li>The terms UP/University/we/us refer to the University of the Philippines System, its constituent universities (CU), any of its offices, or any of its authorized representatives such as UP teachers and staff.</li>
                <li>The terms you/your refer to all applicants for undergraduate freshman admission for Academic Year 2021-2022 and, in the case of minors, where the context so indicates, their parent or guardian who also sign their application forms.</li>
            </ol>
            <h4 class="card-title" style="color: maroon">PART II: PERSONAL DATA</h4>
            <p>The UP System Office of Admissions collects your personal data through paper based or non-paper based e.g. ICT based processing systems.</p>
            <p>When you apply for admission to UP, you provide, through the forms or documents you submit and certify through your signature (and in the case of minors, forms or documents that your parent or guardian also submits and certifies through their signature ), personal data, such as:</p>
            <ol>
                <li>your name;</li>
                <li>your sex assigned at birth;</li>
                <li>your date and place of birth;</li>
                <li>your citizenship;</li>
                <li>your photograph or image;</li>
                <li>your signature or initials;</li>
                <li>information about your family (names of your parents, their citizenship, civil status, etc.);</li>
                <li>other information that we use; and</li>
                <li>educational records, and other relevant documents.</li>
            </ol>
            <p>These information are required to verify your identity, determine your eligibility to enroll in UP, and to document consent or authorization for the processing of personal data in the course of determining your eligibility to enroll in UP.</p>
            <p>UP processes your registered email address and access credentials in order to verify your identity, enable you to securely accomplish online forms, and to confidentially view the results of your application through an online portal. Please see to it that you keep your access credentials secure.</p>
            <p>UP also processes information regarding your citizenship (including passport information, or Bureau of Immigration identification certificates of applicants who are Filipinos born abroad) to determine whether applicants are required to pay an application fee.</p>
            <p>You also provide information regarding the highest educational attainment, occupation, employment information, and annual income or pension of your parents or legal guardian; the number of other persons (whether household members or not), who contribute to your household’s upkeep (including your education), and the total amount of their contributions; whether your family is a recipient of the 4Ps program of the government; as well as other socio-economic information. UP processes such socio-economic data, along with your permanent address, and other information (e.g., grades; whether you are a child of a UP faculty or employee) because the selection of campus qualifiers also considers socio-economic and geographic factors as explained in the General Information Bulletin.</p>
            <p>We also ask if you are a member of an indigenous people’s group. Such processing is done pursuant to Section 9 of Republic Act No. 9500 (or the University of the Philippines Charter of 2008, or simply the UP Charter) which requires UP to observe the principle of democratic access in its admissions process; and take affirmative steps to enhance access of disadvantaged students to University programs and services. The UP Charter can be viewed via <a href="http://www.officialgazette.gov.ph/2008/04/19/republic-act-no-9500/">http://www.officialgazette.gov.ph/2008/04/19/republic-act-no-9500/</a>.</p>
            <p>When you provide UP with the personal data of third parties you certify that you obtained their consent for UP to process their information.</p>
            <p>In order for UP to exercise its right to academic freedom, and to uphold academic standards under its Charter, it processes the educational records you provide, along with other information (including socio-economic and geographic factors as mentioned above and in the General Information Bulletin), in order to determine whether you are qualified to enroll in the University.</p>
            <p>Contact information is processed by UP in order to be able to communicate effectively with you.</p>
            <p>UP may compile statistics and conduct research on your personal data that has been previously processed, as allowed by the DPA and applicable research ethics guidelines, in order to carry out its mandate as the National University. UP may also use your personal data in order to solicit your consent to participate in UP’s research. Rest assured that your personal data will be kept confidential and secure.</p>
            <p>We require you to certify that the information you provide is true and correct as we also use the said information in order to prevent the commission of fraud. Such processing is necessary for compliance with our legal obligations as a publicly funded university, and to uphold our legitimate interest as an educational institution, as well as that of taxpayers.</p>
            <p>Your information that is processed for determining your eligibility to be admitted in UP (that is, in paper based form) is retained by the said University for a maximum of two (2) years and is thereafter securely disposed of. Such disposal is conducted according to Republic Act No. 9470 (or the National Archives Act of 2007) and the procedures of the National Archives of the Philippines, in addition to the DPA. Republic Act No. 9470 may be viewed via <a href="http://www.officialgazette.gov.ph/2007/05/21/republic-act-no-9470/">http://www.officialgazette.gov.ph/2007/05/21/republic-act-no-9470/</a>.</p>
            <p>UP shall retain and provide measures for the secure storage of your personal data in electronic form, for as long as the above purposes for processing such data exists, in order to establish or defend legal claims, or as otherwise allowed or required by the DPA and other applicable laws and issuances</p>
            <h4 class="card-title" style="color: maroon">PART III. DISCLOSURES</h4>
            <p>As a rule, UP will only disclose your personal data to third parties with your consent. The University will disclose or share such information only when required or allowed by applicable laws.</p>
            <p>Examples of applicable laws that may require UP to process and disclose your information include the Implementing Rules and Regulations and Implementing Guidelines for Republic Act No. 10931 (or the Universal Access to Quality Tertiary Education Act of 2017) and Republic Act No. 10687 (the Unified Student Financial Assistance System for Tertiary Education Act, or simply the UNIFAST Act). These can be viewed via <a href="http://www.officialgazette.gov.ph/2017/08/03/republic-act-no-10931/">http://www.officialgazette.gov.ph/2017/08/03/republic-act-no-10931/</a> and <a href="http://www.officialgazette.gov.ph/2015/10/15/republic-act-no-10687/">http://www.officialgazette.gov.ph/2015/10/15/republic-act-no-10687/</a> respectively.</p>
            <p>Please note that under the UNIFAST Act – among other duties – the UNIFAST Board is authorized under Section 15 to:</p>
            <ul style="list-style-type:none;">
                <li>"xxx</li>
                <br>
                <li>(e) Promulgate the minimum guidelines, rules and regulations for determining qualified Beneficiaries of student financial assistance for Tertiary Education;</li>
                <br>
                <li>(f) Provide general guidelines for the drawing up of contracts with the student Beneficiaries specifying the rights and obligations of the parties that may include a service clause or such other stipulations of cost recovery the Board may deem in the best interest of the public and consistent with, or responsive to, national, social, economic, and human resources development plans, subject to Section 12;</li>
                <br>
                <li>(g) Monitor, assess and make impact evaluation of StuFAPs and projects, with the end in view of determining whether these programs shall be adopted, continued, or terminated;</li>
                <br>
                <li>xxx"</li>
            </ul>
            <p>Under the DPA, personal information may be processed – among others – when it is necessary for UP to comply with a legal obligation; to protect your vitally important interests including life and health; necessary to respond to a national emergency, public order and safety; necessary to fulfill the functions of public authority, or in order to pursue the legitimate interests of the University, or a third party, except where such interests are overridden by your fundamental rights.</p>
            <p>Under the said DPA, sensitive personal information may be processed – among others – when such is allowed by laws and regulations, such regulatory enactments provide for the protection of such information, and the consent of the data subject is not required for such law or regulation; when needed for the protection of lawful rights and interests of natural or legal persons in court proceedings, for the establishment, exercise or defense of legal claims; or where provided to government or public authority.</p>
            <p>Please note that the following are examples of information that are not covered by the DPA as stated in Section 4 of the said law:</p>
            <ul style="list-style-type:none;">
                <li>"xxx</li>
                <br>
                <li>c. Information relating to any discretionary benefit of a financial nature such as the granting of a license or permit given by the government to an individual, including the name of the individual and the exact nature of the benefit;</li>
                <br>
                <li>d. Personal information processed for journalistic, artistic, literary or research purposes;</li>
                <br>
                <li>e. Information necessary in order to carry out the functions of public authority;</li>
                <br>
                <li>xxx"</li>
            </ul>
            <h4 class="card-title" style="color: maroon">PART IV. PROTECTION</h4>
            <p>Even prior to the effectivity of the DPA, UP put in place physical, organizational and technical measures to protect your right to privacy, and is committed to reviewing and improving the same. You may wish, for instance, to read UP’s Acceptable Use Policy for IT Resources (AUP).</p>
            <p>UP provides information (e.g., on its websites, the General Information Bulletin, and application portal) that explains how you can secure and maintain the confidentiality of your personal data.</p>
            <p>UP personnel are allowed to process your personal data only when such processing is part of their official duties. The Office of Admissions only discloses relevant personal data needed by other UP offices in order to perform their functions. We encourage you to visit this site from time to time to see any updates regarding this Privacy Notice.</p>
            <h4 class="card-title" style="color: maroon">PART V. ACCESS, CORRECTION AND RIGHTS</h4>
            <p>You have the right to access personal information and sensitive personal information concerning you that is being processed by UP.</p>
            <p>You may access and correct your information per the instructions contained in the portal.</p>
            <p>Note that all applicants are required to provide true, complete and accurate information. In the event you need to correct your information please follow the instructions in the proper UP website.</p>
            <p>Applicants can confidentially view the results of their application through the online portal. Please check this UP website (<a href="https://upcollegeadmissions.up.edu.ph"> https://upcollegeadmissions.up.edu.ph</a>) for announcements on the availability of results.</p>
            <p>You shall be required to present a valid school identification card or government issued identification card (GIID) when you request documents containing your personal data (such as your UP admission grade), in the event you need the same for your appeal, and in order for UP to see to it that we protect your privacy, and prevent identity fraud.</p>
            <p>In case you request documents (e.g., UP admission grade) through a representative, and in order to protect your privacy as stated above, UP requires you to provide a letter of authorization stating the name of your authorized representative, the purpose(s) for which the requested document(s) will be used, your valid school identification card or government issued ID (GIID); as well as the valid GIID of your authorized representative.</p>
            <p>Please address any access requests (e.g., for the UP admission grade) to the UP Office of Admissions through the following email address: <u>upcollegeapplications.oadms@up.edu.ph</u>.</p>
            <p>Aside from the right to access and correct your personal data, you have the following rights, subject to the conditions and limitations provided under the DPA, and other applicable laws and regulations:</p>
            <ol type="a">
                <li>The right to be informed about the processing of your personal data through this and other applicable privacy notices.</li>
                <li>The right to object to the processing of your personal data, to suspend, withdraw or order the blocking, removal or destruction thereof from our filing system. Please note however that, as mentioned above, there are various instances when the processing of personal data is necessary for us to comply with UP’s mandate; with statutory and regulatory requirements; or is processed using a lawful basis other than consent.</li>
                The right to receive, pursuant to a valid decision, damages due to the inaccurate, incomplete, outdated, false, unlawfully obtained, or unauthorized use of personal data, taking into account any violation of your rights and freedoms as a data subject; and</li>
                <li>The right to lodge a complaint before the National Privacy Commission, provided that you first exhaust administrative remedies by filing a request with the proper offices or a complaint with the proper DPO through the email address indicated below regarding the processing of your information, or the handling of your requests for access, correction, blocking of the processing of your personal data and the like.</li>
            </ol>
            <h4 class="card-title" style="color: maroon">PART VI. CONSENT</h4>
            <p>UP obtains your consent for the processing of your personal information and sensitive personal information pursuant to this privacy notice by asking you to sign the relevant form. If you are a minor, we will require your parent or guardian to sign the proper form. If you wish to withdraw consent, kindly write or send an email (<u>upcollegeapplications.oadms@up.edu.ph</u>) to the UP Office of Admissions, Kalaw Street corner Quirino Avenue, UP Diliman, Quezon City 1101 Philippines, and identify the processing activity for which you are withdrawing consent (e.g., withdrawal of admission application).</p>
            <p>For minors, your parent or guardian must withdraw consent on your behalf. Please attach a copy of your valid school ID or GIID.</p>
            <p>Note that consent may be withdrawn only for a processing activity for which consent is the only applicable lawful ground for such processing. Please wait for the Office of Admission’s action regarding your request.</p>
            <h4 class="card-title" style="color: maroon">PART VII. QUERIES</h4>
            <p>If you have any data privacy queries (such as data privacy concerns regarding your application, or suggestions regarding this privacy notice) you may contact the UP System Data Protection Officer through the following:</p>
            <ol type="a">
                <li>via post</li>
                <p>2nd Floor North Wing, Quezon Hall<br>(Administration Building) University Avenue,<br>UP Diliman, Quezon City 1101<br>Philippines</p>
                <li>via landlines</li>
                <p>(632) 89280110; or (632) 89818500 loc. 2521</p>
                <li>c. via email</li>
                <p>dpo@up.edu.ph</p>
            </ol>
        </div>
    </div>
</div>

<br>
{% endblock %}